
.field {
	width: $field-width;
	height: $field-height;
	display: flex;
	border: 1px solid $border-color;
	margin: 10px auto;
	flex-wrap: wrap;
	border-radius: 3px;
	background-color: $border-color;

	.cell {
		border: 1px solid $border-color;
		border-radius: 3px;
		box-sizing: border-box;
		display: flex;
		background-color: lighten($border-color, 40%);
		justify-content: center;
		align-items: center;
		background-position: 10% 10%;
		background-size: 0 0;
		background-repeat:  no-repeat;
		transition: background-size 1s ease-in;
		
		@each $i in $size {
			&.cell-#{$i} {
				height: calc(#{$field-height} / #{$i});
				width: calc(#{$field-width} / #{$i});
			}
		}

		&.correct {
			background-image: url("../assets/like.svg");
			background-size: 50% 50%;
		}

		&.incorrect {
			background-image: url("../assets/thumb-down.svg");
			background-size: 50% 50%;
		}

		&:hover {
			cursor: pointer;
			box-shadow: inset 0 0 10px $marker-color; 
		}
	}
	
	.marker {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $marker-color;
	}
}