
.field {
	width: $field-width;
	height: $field-height;
	display: flex;
	margin: 10px auto;
	flex-wrap: wrap;

	.cell {
		height: calc(#{$field-height} / #{$size});
		width: calc(#{$field-width} / #{$size});
		border: 1px solid $border-color;
		border-radius: 3px;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		background-position: 10% 10%;
		background-size: 0 0;
		background-repeat:  no-repeat;
		transition: background-size 1s ease-in;


		&.correct {
			background-image: url("../assets/like.svg");
			background-size: 50% 50%;
		}

		&.incorrect {
			background-image: url("../assets/thumb-down.svg");
			background-size: 50% 50%;
		}
	}

	.marker {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $marker-color;
	}
}