
$n: 3;

.field {
	width: $field-width;
	height: $field-height;
	display: flex;
	margin: 10px auto;
	flex-wrap: wrap;

	.cell {
		height: calc(#{$field-height} / #{$n});
		width: calc(#{$field-width} / #{$n});
		border: 1px solid $border-color;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.marker {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $marker-color;
	}
}